{% extends 'main/base.html' %}



{% block title %} 
	Sign Up
{% endblock %}


{% block content %}
	<br>
	<h3>Create Account</h3>
	<br>
	<form method="POST" >
		{% csrf_token %}
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Username</span>
		  </div>
		  <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" >	  
			{% for error in form.username.errors %}
					<p style="color:red">{{error}}</p>
			{% endfor %}	
		</div>

		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Email</span>
		  </div>
		  <input type="text" name="email" class="form-control" placeholder="account@gmail.com" aria-label="Username">
		  {% for error in form.username.errors %}			
					<p style="color:red">{{error}}</p>
			{% endfor %}	
		</div>

		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Password</span>
		  </div>
		  <input type="password" name="password1" class="form-control" aria-label="Username" >
		  {% for error in form.username.errors %}			
					<p style="color:red">{{error}}</p>
			{% endfor %}	
		</div>

		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Password Confirmation</span>
		  </div>
		  <input type="password" name="password2" class="form-control" placeholder="Enter the same password" aria-label="Username" >
		  {% for error in form.username.errors %}			
					<p style="color:red">{{error}}</p>
			{% endfor %}	
		</div>

		<button type="submit", name="register", value="register", class="btn btn-success"> Register</button>
	
	</form>
{% endblock %}